#Systemd service file for klipper-firmware
[Unit]
Description=Starts klipper-mcu-host on startup
After=klipper-pru.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
#User=debian
RemainAfterExit=yes
ExecStart=/usr/local/bin/klipper_mcu -w -r
