#Systemd service file for klipper-firmware
[Unit]
Description=Starts klipper-pru on startup
After=pinconfig.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=debian
RemainAfterExit=yes
ExecStart=/home/debian/klipper-pru.sh
