[Unit]
Description=Setup for BBB pins
After=generic-board-startup.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /home/debian/pin-config.sh
